apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: much-to-do
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7.0
          ports:
            - containerPort: 27017

          envFrom:
            - secretRef:
                name: mongo-secret

          volumeMounts:
            - name: mongo-data
              mountPath: /data/db

            - name: mongo-config
              mountPath: /etc/mongo
              readOnly: true

          command: ['mongod']
          args: ['--config', '/etc/mongo/mongod.conf']

      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-pvc

        - name: mongo-config
          configMap:
            name: mongo-config
