apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: much-to-do
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
        - name: backend-api
          image: routparesh/backend-api:latest
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8080

          # ConfigMap + Secret
          envFrom:
            - configMapRef:
                name: backend-api-config
            - secretRef:
                name: backend-api-secret

          # Resource requests & limits
          resources:
            requests:
              cpu: '100m'
              memory: '128Mi'
            limits:
              cpu: '500m'
              memory: '256Mi'

          # Health checks
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
